@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5EFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#passwordModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    filter: none;
}

#passwordBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#passwordInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitPassword {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#togglePassword{
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
}

.navbar {
    position: fixed;
    top: 5px;
    z-index: 100;
    width: 100%;
    max-width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A594F9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-title {
    color: rgb(69, 69, 69);
    padding: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav-link a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

.nav-link a:hover {
    text-decoration: underline;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 65px;
    filter: blur(5px);
}

.info {
    border: 1px solid;
    width: 95%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background: #E5D9F2;
}

.title-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    font-size: 12px;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid;
    padding: 5px;
}

td a{
    color: rgb(84, 84, 84);
}
